{% extends 'dashboards/base_dashboard.html' %}

{% block title %}
  Materialien
{% endblock %}


{% block content %}
  {% include 'dashboards/material_tabs.html' %}

  <table id="id_objekts_table"
         style="width: 100%"
         data-ajax="/api/objekts/deleted/?format=datatables">
    <thead>
      {% include 'dashboards/material_table.html' %}
    </thead>
    <tbody>

    </tbody>
  </table>

  <form id="id_delete_forever_form"
        action="{% url 'inventory_objekt_delete_forever_all' %}"
        method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete All Forever">
  </form>


  <script type="text/javascript">
    $.fn.dataTableExt.pager.numbers_length = 30;
    var objekts_table = null;
    $(document).ready(function() {
      objekts_table = $("#id_objekts_table").DataTable({
        "stateSave": false,
        "initComplete": set_page_from_cookie,
        "pagingType": "full_numbers",
          "order": [[4, "desc"]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
            },
            'columnDefs': [
              {
                  'orderData':[5], 'targets': [3]
              },
              {
                  'orderData':[6], 'targets': [4]
              },
              {
                  'targets': [5],
                  'visible': false,
                  'searchable': false
              },
              {
                  'targets': [6],
                  'visible': false,
                  'searchable': false
              },
          ],
        });

        $("#id_delete_forever_form").ajaxForm({
            beforeSubmit : function(arr, $form, options) {
                return confirm("Are you sure you want to delete all of these forever?");
            },
            success: function(data) {
                objekts_table.ajax.reload();
            }
        });

        init_paging();
    });
  </script>
{% endblock %}