{% load inventory_templatetags %}

<div class="tab-container">
    <ul>
        <li class="tab {% if tab_stub == 'all' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_materials' %}">
                <span>Alle</span></a>
        </li>

        <li class="tab {% if tab_stub == 'warehouse' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_warehouse' %}">
                <span>Intern</span></a>
        </li>

        <li class="tab {% if tab_stub == 'available' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_available' %}">
                <span>Verfügbar auf Restado</span></a>
        </li>

        <li class="tab {% if tab_stub == 'sold' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_sold' %}">
                <span>Verkauft</span></a>
        </li>

        <li class="tab {% if tab_stub == 'archived' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_archived' %}">
                <span>Archiviert</span></a>
        </li>

        <li class="tab {% if tab_stub == 'deleted' %}active{% endif %}">
            <a href="{% url 'inventory_objekt_dashboard_deleted' %}">
                <span>Papierkorb</span></a>
        </li>
    </ul>
</div>

<div style="padding-bottom: 20px">
    Nach Materialkategorie filtern:

    <select id="id_material_category_select">
        {% distinct_material_categories as mcs %}

        <option value="">--</option>
        {% for mc in mcs %}
            <option value="{{ mc.category }}">{{ mc.category }}</option>
        {% endfor %}
    </select>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_material_category_select").change(function() {
            var selectedValue = $(this).val();
            objekts_table.columns(".material-text").search(selectedValue).draw();
        });
    });
</script>