<tr>
    <!-- 0 -->
    <th data-data="link">
        Nachricht
    </th>

    <!-- 1 -->
    <th data-data="email">
        Geber
    </th>

    <!-- 2 -->
    <th data-data="thumbnail">
        Thumbnail
    </th>

    <!-- 3 -->
    <th data-data="created_at_display">
        Hergestellt in
    </th>

    <!-- 4 -->
    <th data-data="updated_at_display">
        Letzte Aktualisierung
    </th>

    <!-- 5 -->
    <th data-data="created_at">

    </th>

    <!-- 6 -->
    <th data-data="updated_at">

    </th>

    <!-- 7 -->
    <th data-data="offer_status_text">
        Status
    </th>
</tr>