{% load inventory_templatetags %}

<form method="POST" id="id_objekt_form">
    {% csrf_token %}
    <table style="width: 100%">
        <tbody>
            {{ objekt_form.as_table }}

            <tr>
                <th>
                    <label>
                        Materialkategorien:
                    </label>
                </th>

                <td>
                    <ul class="form-panel-list" id="id_material_ul" >

                        {% if objekt %}
                            {% for material in objekt.material.all %}
                                <li>
                                    {% include 'objekt/components/dropdown.html' with type='material' choices=materials selected=material %}
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% include 'objekt/components/dropdown.html' with type='material' choices=materials %}
                    </ul>
                    <ul class="form-panel-list">
                        <li>
                            <a href="#" id="id_material_add_link">Geben Sie eine zusätzliche Materialkategorie an</a>
                        </li>
                        <li>
                            <span class="helptext">
                                Sie können beliebig viele Materialkategorien geben. Wählen Sie "--", um eine Materialkategorie zu löschen. Alle Materialkategorien werden an Restado übermittelt.
                            </span>
                        </li>
                    </ul>

                </td>
            </tr>

            <tr>
                <td>

                </td>
                <td>
                    <input type="submit" value="Speichern" style="background-color: #4e73df; color: white">
                </td>
            </tr>
        </tbody>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_material_add_link').click(function() {
            var last_element = $('#id_material_ul').children().last();
            $('#id_material_ul').append(last_element.clone());

            init_category_handlers();

            var last_select_category = $('#id_material_ul').children().last().children().first();
            last_select_category.val('');
            last_select_category.change();
            return false;
        });

        function init_category_handlers() {
            $(".category-select").change(function() {
                var target = $(this).next();
                $.get('/autocomplete/subcategories/',
                    {
                        category: $(this).val()
                    },
                    function(data) {
                        $(target).empty();
                        $(target).append($('<option>', {
                            value: '',
                            text: '--'
                        }));

                        data.subcategories.forEach(function(sc, index) {
                            $(target).append($('<option>', {
                                value: sc.id,
                                text : sc.subcategory
                            }));
                        });
                    });
            });
        }

        init_category_handlers();
    });
</script>
