                    <div id="id_images_div">
                        {% include 'objekt/components/image_list.html' %}
                    </div>

                    <hr>

                    <p>Neue(s) Bild(er) hinzufügen</p>
                    <form id="id_fileupload_form"
                          enctype="multipart/form-data"
                          action="{% url 'inventory_objekt_images' objekt.id %}"
                          method="POST">
                        {% csrf_token %}

                        <ul id="id_image_inputs_ul">
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                            <li><input type="file" name="file" class="image-upload-file"></li>
                        </ul>


                        <a href="#" id="id_image_input_add_link">Fügen Sie eine weitere Bildeingabe hinzu</a><br><br>

                        <input type="submit" value="Bild(er) hinzufügen">
                    </form>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#id_fileupload_form").ajaxForm({
                                beforeSubmit : function(arr, $form, options) {
                                    $(".spinner").show();
                                },
                                success: function(data) {
                                    alert("Gespeichert");
                                    $(".spinner").hide();
                                    $("#id_images_div").html(data.html);
                                    $(".image-upload-file").val('');
                                }
                            });

                            $("#id_image_input_add_link").click(function() {
                                $("#id_image_inputs_ul").append('<li><input type="file" name="file"></li>');
                                return false;
                            });
                        });
                    </script>
