{% extends 'objekt/pages/base.html' %}
{% load inventory_templatetags %}

{% block content %}
<!-- Content Wrapper -->


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-8">
            <div class="card-header">
                <h1>Material Angeboten</h1>
            </div>
            <div class="card-body">
                <p>
                    Vielen Dank! Wir melden uns innerhalb von 2 Werktage.
                </p>
                <p>
                    <a href="http://www.material-mafia.net/">Zu material-mafia.net</a>
                </p>
                <p>
                    <a href="/offer/">Weiteres Material anbieten</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
